.features {
  z-index: 999;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.features-section {
  color: rgba(0, 0, 0, 0.87);
}

.feature-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  background-color: #ffffff;
  padding: 20px 32px;
  margin: 10px 0px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.fc-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.fc-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fc-bottom {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 50%;
  gap: 20px;
}

.sub-feature {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(252, 252, 250);
  box-shadow: rgb(24 24 26 / 8%) 8px 8px 16px;
  border: 1px solid black;
  
  cursor: pointer;

  display: flex;
  flex-flow: row wrap;
  padding: 24px;
}

.selected {
  border-color: rgb(93, 140, 70);
}

.sb-title {
  color: rgb(136, 136, 136);
  font-size: 1.3rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

.sb-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
