.features {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.features-section {
  color: rgba(0, 0, 0, 0.87);
}

.feature-section {
  background-color: #ffffff;
  padding: 20px 32px;
  margin: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.fc-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fc-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fc-bottom {
  display: flex;
  flex-flow: row wrap;
  margin-top: 16px;
  margin-left: -16px;
  width: calc(100% + 16px);
  margin-left: -16px;
  flex-grow: 0;
  flex-basis: 50%;
}

.sub-feature {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(252, 252, 250);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(93, 140, 70);
  border-radius: 4px;
  box-shadow: rgb(24 24 26 / 8%) 8px 8px 16px;
  height: 180px;
  display: flex;
  flex-direction: column;
  padding: 0px;

  position: relative;
  flex: 1 1 auto;
  cursor: pointer;
  padding: 24px;
}

.sb-title {
  color: rgb(136, 136, 136);
  font-size: 1.3rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 10px;
}
