.btn {
    width: 250px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: 50px;
    font-size: 1.1em;
    cursor: pointer;
    border: none;
    align-self: center;
    margin: 50px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}