.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0px 50px;
    padding: 40px;
    height: 100px;
}

.feature-left {
    display: flex;
    gap: 30px;
}

.feature-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.feature-title {
    color: rgba(0, 0, 0, 0.6);
}

.feature-price {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

.icon {
    font-size: 2.5rem;
}

.heart-icon {
    font-size: 2.5rem;
    cursor: pointer;
    color: rgb(3, 175, 3);
}

.heart-icon:hover {
    color: green;
}