.modal {
    position: absolute;
    top: 500px;
    left: 1000px;
}

.modal-btn {
    background: rgba(252, 252, 250, 0.8);
    padding: 8px 14px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    color: rgb(66, 66, 66);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-btn.closed {
    background-color:rgb(93, 140, 70);
    color: #fff;
}

.modal-icon {
    color:rgb(93, 140, 70);
    font-size: 2em;
}

.modal-icon.closed {
    color: #fff;
}

.modal-desc {
    position: absolute;
    width: 360px;
    background-color: rgb(252, 252, 250);
    box-shadow: rgb(24 24 26 / 16%) 0px 4px 16px;
    padding: 18px 24px;
    border-radius: 4px;
    opacity: 0.8;
    z-index: 3;
}

