.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--nav-size);
    width: 100vw;
    color: rgba(0, 0, 0, 0.6);
    background-color: var(--bg);
}

.nav-title {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
}

.nav-title:hover {
    color: rgb(6, 201, 6)
}