.designer-section {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(230, 230, 219);
    background-color: rgb(252, 252, 250);
    border-radius: 4px;
    padding: 24px;
    gap: 20px;
    margin: 20px 0px;
    cursor: pointer;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.designer-section:hover {
    box-shadow: var(--shadow);
}

.designer-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.designer-title {
    font-size: 1.25rem;
    color: rgb(89, 89, 89);
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 5px;
}

.designer-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.designer-details {
    display: flex;
    flex-direction: column;
}

.design-type {
    font-size: 1em;
    color: rgb(89, 89, 89);
    display: flex;
}