.categories {
  height: 100px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.2rem;
}

.categories > a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.active {
  border-bottom: 2px solid black;
}
