
.footer {
    background-color: rgb(51, 51, 51);
    height: 20vh;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer > p {
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1.2em;
}

em {
    font-size: 0.9em;
}