.app {
    overflow: hidden;
}
.main {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 25vw;
    min-width: 400px;
    min-height: 800px;
    background-color: #fefefe;
    z-index: 999;
}

.slider {
    height: calc(100vh - var(--nav-size));
    width: calc(100vw - var(--sidebar-size));
}
