.main {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 25vw;
    min-width: 400px;
    min-height: 800px;
    background-color: var(--bg);
    z-index: 999;
}

.sidebar-wrapper {
    overflow-y: auto;
}

.sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

.slider {
    height: calc(100vh - var(--nav-size));
    width: calc(100vw - var(--sidebar-size));
}
