*,
::after,
::before {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --bg: rgb(245, 243, 243);
    /* --text-color: rgb(245, 242, 242); */
    --text-color: rgb(0, 0, 0, 0.6);
    --green-color: rgb(3, 175, 3);
    --border: 1px solid lightgray; 
    --shadow: rgb(24 24 26 / 8%) 8px 8px 16px;
    --category-color: rgb(66, 66, 66);
    --nav-size: 60px;
    --sidebar-size: 25vw;
}

body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 1rem;
    font-family: 'Repro', sans-serif;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: -0.01rem;
    background-color: #FAF8F5;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Classes */
.title {
  font-size: 2rem;
  font-weight: lighter;
  color: rgb(61, 61, 61);
  padding-bottom: 20px;
}

.description {
  font-size: 1rem;
  padding-bottom: 20px;
}

.sidebar-wrapper {
    padding: 32px;
}